<div class="row user">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Divulgue sua boa!</h1>
    </div>
    
    <%= error_messages_for(@user) %>
    <%= form_for @user, url: sign_in_path, html: { role: "form" }, method: :post do |f| %>
  
      <div class="row">
        <div class="form-group col-xs-4">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control input-lg" %>
        </div>
        <div class="form-group col-xs-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control input-lg" %>
        </div>
        <%= f.button icon_tag("glyphicon-ok", "Entrar"), class: "btn btn-success btn-lg" %>
      </div>
  
    <% end %>
    
    <p>Ainda não tem uma conta? Crie uma <%= link_to "aqui", sign_up_path, class: "ordinary-link" %>.</p>
    
  </div>
</div>
    
    
