<div class="events clearfix">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header clearfix">
        <div class="btn-group pull-left">
          <%= link_to icon_tag("glyphicon-arrow-left") + "Voltar ao Site", root_path, class: "btn btn-default btn-sm" %>
          <%= link_to "Olá #{current_user.name}", "#", class: "btn btn-default btn-sm disabled" %>
        </div>
        <h1>Eventos</h1>
        <div class="btn-group pull-left">
          <%= link_to "Eventos Passados", admin_events_path(past: true), class: "btn btn-default btn-sm" %>
          <%= link_to icon_tag("glyphicon-asterisk", "Benefícios Pendentes"), admin_events_path(pendent: true), class: "btn btn-default btn-sm btn-danger" %>
        </div>
        <div class="form-group pull-left">
          <%= form_tag admin_events_path, method: :get do %>
            <%= text_field_tag :search, params[:search], class: "form-control input-sm", placeholder: "Buscar Eventos", autocomplete: "off" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="list">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome do Evento</th>
              <th width="5"></th>
              <th width="5"></th>
              <th>Usuário</th>
              <th>Data</th>
              <th>Hora</th>
              <th></th>
              <th width="10"></th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td><%= link_to truncate(event.name, length: 50), edit_admin_event_path(event), class: "ordinary-link admin-lightbox-event-click" %></td>
                <td>
                  <%= form_for [:admin, event], remote: true do |f| %>
                    <%= f.hidden_field :benefit_approved, value: true %>
                    <%= link_to icon_tag("glyphicon-ok"), "javascript:$(this).parent().submit()", class: "btn text-success" %>
                  <% end if event.should_approve_benefit? %>
                </td>
                <td>
                  <% if event.should_approve_benefit? %>
                    <%= link_to "javascript:void(0)", rel: "popover", data: {content: "#{event.benefit_description}", placement: "top" } do %>
                      <%= content_tag :span, icon_tag("glyphicon-asterisk"), class: "text-danger" %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= link_to event.user.name, "#", rel: "popover", data: { content: "#{event.user.email}<br /><small>#{I18n.l event.user.created_at, format: :short}</small>", placement: "top" } %></td>
                <td><%= I18n.l event.day %></td>
                <td><%= event.hour %></td>
                <td>
                  <%= link_to icon_tag("glyphicon-map-marker"), "javascript:void(0)", rel: "popover", data: { content: "#{event.full_address}", placement: "left" }, class: "btn" %>
                  <%= link_to icon_tag("glyphicon-info-sign"), "javascript:void(0)", rel: "popover", data: { content: "#{event.description}", placement: "left" }, class: "btn" %>
                </td>
                <td>
                  <%= link_to icon_tag("glyphicon-trash"), admin_event_path(event), class: "btn text-danger", rel: "popover", method: :delete, data: { confirm: "Você tem certeza que dedeja excluir o evento de #{event.name}?", content: "Excluir Evento", placement: "left" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @events %>
      </div>
    </div>
  </div>
</div>