<div class="panel panel-default" data-lat="<%= event.latitude %>" data-lng="<%= event.longitude %>" data-id="<%= event.id %>">
  <div class="panel-heading">
    <h4 class="panel-title">
      <small><%= I18n.l event.day, format: :complete %> às <%= event.hour %></small>
      <%= link_to event.name, "#collapse-#{event.id}", data: { toggle: "collapse", parent: "#events-accordion" } %>
    </h4>
  </div>
  <div id="collapse-<%= event.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="address"><%= event.full_address %></div>
      <div class="content">
        <%= textile(event.description) %>
      </div>
      <% if event.url.present? %>
        <div class="url">
          <%= link_to "Site do evento ".html_safe + icon_tag("glyphicon-new-window"), event.url, target: :blank, title: "Site do evento #{j event.name}", class: "btn btn-default btn-xs" %>
        </div>
      <% end %>
    </div>
  </div>
</div>