<div class="search">
<div class="row">
  <!-- <div class="col-sm-4 col-xs-12 hidden-xs sidebar">
    <h3><%= icon_tag("glyphicon-map-marker") %> Buscar em</h3>
  </div> -->
  <div class="col-sm-12 col-xs-12 hidden-xs main-events">
    <h2 class="pull-left"><%= icon_tag("glyphicon-calendar") %>
      Eventos da semana <strong><%= I18n.l @beginning_of_week, format: :day_month %> - <%= I18n.l @end_of_week, format: :day_month %></strong>
    </h2>
    <div class="btn-group pull-right">
      <%= link_to icon_tag("glyphicon-arrow-left") + " Anterior".html_safe, search_path(url_params(@beginning_of_week - 7.days)), class: "btn btn-default btn-xs" %>
      <%= link_to "Próxima ".html_safe + icon_tag("glyphicon-arrow-right"), search_path(url_params(@end_of_week + 1.days)), class: "btn btn-default btn-xs" %>
    </div>
    <div class="clearfix"></div>
    <div class="table-events-support">
      <!--
      <%= link_to icon_tag("glyphicon-circle-arrow-left"), "#", class: "click-arrow left", data: { direction: "left"} %>
      <%= link_to icon_tag("glyphicon-circle-arrow-right"), "#", class: "click-arrow right", data: { direction: "right"} %>
      -->
      <table class="table table-events pos1">
        <tr>
          <% (@beginning_of_week..@end_of_week).each do |day| %>
            <th><%= I18n.l day, format: :week_day %></th>
          <% end %>
        </tr>
        <tr>
          <% (@beginning_of_week..@end_of_week).each do |day| %>
            <td>
              <ul>
                <% @events[day].each do |event| %>
                  <li data-lat="<%= event.latitude %>" data-lng="<%= event.longitude %>" data-id="<%= event.id %>">
                    <%= link_to "##{event.id}", rel: "nofollow" do %>
                      <small><%= event.hour %></small>
                      <%= event.name %>
                    <% end %>
                  </li>
                <% end if @events[day] %>
              </ul>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    
  </div>
</div>
</div>
<%= content_for :unwrap_content do %>
  <div class="search-header clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1><%= link_to "Encontre a Boa <small>beta</small>".html_safe, root_path%></h1>
          <p class="lead"><%= params[:address] %></p>
          <!--
          <%= link_to "Fazer Login", sign_in_path, class: "btn pull-right" %>
          <%= link_to "Divulgue seu evento", sign_up_path, class: "btn pull-right" %>
          -->
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col-sm-12">
          <div class="search-field clearfix">
            <div class="form-group">
              <%= label_tag :q, "Onde você está?", class: "sr-only" %>
              <%= text_field_tag :q, params[:address], class: "form-control input-lg", placeholder: "Onde você está ou quer ir?", autocomplete: "off" %>
            </div>
          </div>
        </div>
      </div>
      -->  
    </div>
  </div>
  <div id="google_map_search" class="google-map-canvas-fullscreen" data-latitude="<%= @search.latitude %>" data-longitude="<%= @search.longitude %>"></div>
  <div class="expand-map">
    <%= icon_tag("glyphicon-chevron-down") %>
  </div>
<% end %>