<div class="events clearfix">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header clearfix">
        <h1>Meu Calendário</h1>
        <p class="lead">Gerencie seus eventos e compartilhe com todo mundo.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 sidebar">
      <%= render "shared/dashboard_sidebar" %>
    </div>
    <div class="col-sm-9">
    </div>
  </div>
</div>