<div class="row user">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Divulgue sua boa!</h1>
      <p class="lead">É rápido e fácil, não vai demorar nem 5 minutos.</p>
    </div>
    
    <%= error_messages_for(@user) %>
    <%= form_for @user, url: sign_up_path, html: { role: "form" } do |f| %>
  
      <div class="row">
        <div class="form-group col-xs-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control input-lg" %>
        </div>
        <div class="form-group col-xs-4">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control input-lg" %>
        </div>
        <div class="form-group col-xs-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control input-lg" %>
        </div>
        <%= f.button icon_tag("glyphicon-ok", "Criar"), class: "btn btn-success btn-lg" %>
      </div>
  
    <% end %>
    
    <p>Já tem uma conta? Faça login <%= link_to "aqui", sign_in_path, class: "ordinary-link" %>.</p>
    
  </div>
</div>
    
    
