<ul class="nav nav-pills nav-stacked">
  <li><%= link_to icon_tag("glyphicon-plus", "Criar Evento"), new_event_path, class: "active lightbox-event-click" %></li>
  <!-- <li><%= link_to icon_tag("glyphicon-cog", "Configurações"), "#" %></li> -->
</ul>
<div class="my-calendar">
</div>