<div class="footer">
  <div class="container clearfix">
    <p class="text-muted about pull-left">Quer divulgar seu evento? <%= link_to "Crie uma conta", sign_up_path %> agora mesmo.</p>
    <div class="nav pull-right">
      <%= link_to "Buscar boa!", root_path %>
    </div>
  </div>
</div>