<%= content_for :unwrap_content do %>
  <div class="search-holder">
    <div class="container">
      <div class="row home">
        <div class="col-xs-12">
          <div class="page-header">
            <h1>Encontre a Boa <small>beta</small></h1>
            <p class="lead">Descubra o que está rolando por perto e você não pode perder.</p>
            <div class="row search-field">
              <div class="form-group col-xs-12">
                <%= label_tag :q, "Onde você está?", class: "sr-only" %>
                <%= text_field_tag :q, nil, class: "form-control input-lg", placeholder: "Onde você está ou quer ir?", autocomplete: "off" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="steps-holder">
    <div class="steps clearfix">
      <div class="step clearfix">
        <div>
          <%= icon_tag("glyphicon-map-marker")%>
          <strong>Diga onde você quer ir pra curtir uma boa.</strong>
        </div>
      </div>
      <div class="step clearfix">
        <div>
          <%= icon_tag("glyphicon-time") %>
          <strong>Escolha a melhor boa no melhor dia da semana pra você.</strong>
        </div>
      </div>
      <div class="step clearfix">
        <div>
          <%= icon_tag("glyphicon-thumbs-up")%>
          <strong>Chame os amigos e aproveite!</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row publish">
    <div class="col-sm-12">
      <h2>Divulgue seu evento</h2>
      <p>Rápido e sem complicações. Em menos de 5 minutos você pode publicar seu evento<br /> e avisar pra todo mundo a próxima boa da cidade.</p>
      <p><%= link_to "Crie uma conta grátis", sign_up_path, class: "btn btn-default btn-lg" %></p>
      <small>Já tem uma conta? Clique <%= link_to "aqui", sign_in_path, class: "ordinary-link" %>.</small>
    </div>
  </div>
<% end %>