<table class="table">
  <thead>
    <tr>
      <th>Nome do Evento</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Endereço</th>
      <th width="10"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to truncate(event.name, length: 50), edit_event_path(event), class: "lightbox-event-click ordinary-link" %></td>
        <td><%= I18n.l event.day %></td>
        <td><%= event.hour %></td>
        <td><%= truncate event.full_address, length: 30 %></td>
        <td>
          <%= link_to icon_tag("glyphicon-trash"), event_path(event), class: "btn text-danger", method: :delete, data: { confirm: "Você tem certeza que dedeja excluir o evento de #{event.name}?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>