<%= form_for @event, url: (@event.persisted? ? event_path(@event) : events_path), html: { role: "form", data: { remote: true}} do |f| %>
  
  <div class="slides">
    
    <a href="#" class="click-arrow left disabled"><%= icon_tag("glyphicon-chevron-left") %></a>
    <a href="#" class="click-arrow right"><%= icon_tag("glyphicon-chevron-right") %></a>
    <button type="submit" class="submit-slides"><%= icon_tag("glyphicon-ok") %></button>
    
    <div class="slides-inner clearfix">
      
      <div class="slide where" data-inner="600,400" data-pos="0">
        <h2>Onde será o evento?</h2>
        <div class="spacing">
          <div class="row">
            <div class="form-group col-sm-6">
              <%= f.label :address %>
              <%= f.text_field :address, class: "form-control", placeholder: "Mapa atualizará automaticamente" %>
            </div>
            <div class="form-group col-sm-3">
              <%= f.label :address_complement %>
              <%= f.text_field :address_complement, class: "form-control" %>
            </div>
            <div class="form-group col-sm-3">
              <%= f.label :zip_code %>
              <%= f.text_field :zip_code, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div id="google_map" class="google-map-canvas"></div>
            <%= f.hidden_field :latitude %>
            <%= f.hidden_field :longitude %>
          </div>
        </div>
        
      </div><!-- .slide 0 -->
      
      <div class="slide other" data-inner="400,200" data-pos="1">
        <h2>Benefício do Anúncio
          <small>Você pode dar um benefício para seus clientes e em troca<br /> ter informações
            sobre seu público</small>
        </h2>
        <div class="spacing">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <%= f.text_area :benefit_description, class: "form-control", rows: 11, placeholder: "Descrição do Benefício" %>
              </div>
            </div>
            <div class="col-sm-4">
              <small class="text-muted">Todo usuário que quiser utilizar o benefício terá que conectar usando o Facebook
              e fornecer alguns dados que serão utilizados para gerar um relatório sobre seu público.
              <strong>Seu benefício será aprovado por um de nossos redatores em até 48 horas</strong>.</small>
            </div>
          </div>
        </div>
      </div> <!-- .slide1 -->
      
      <div class="slide other" data-inner="400,200" data-pos="2">
        <h2><%= @event.persisted? ? "Editar informações" : "Só falta mais esse passo" %></h2>
        <div class="spacing">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control", placeholder: "Exibido na listagem de eventos." %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <%= f.label :day %>
              <%= f.text_field :day_string, class: "form-control" %>
            </div>
            <div class="form-group col-sm-2">
              <%= f.label :hour %>
              <%= f.text_field :hour, class: "form-control" %>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :url %>
                <%= f.text_field :url, class: "form-control", placeholder: "" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <%= f.text_area :description, class: "form-control", rows: 5, placeholder: "Informe os detalhes do seu evento." %>
                <small>Você pode usar o padrão textile para formatar os detalhes do evento. Veja <%= link_to "aqui", "#" %> como funciona.</small>
              </div>
            </div>
          </div>
        </div><!-- .spacing -->
      </div><!-- .slide -->
      
    </div><!-- .slides -->
  </div>
  
<% end %>