<div class="events clearfix">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header clearfix">
        <h1>Meus Eventos</h1>
        <p class="lead">Gerencie seus eventos e compartilhe com todo mundo.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 sidebar">
      <%= render "shared/dashboard_sidebar" %>
    </div>
    <div class="col-sm-9">
      <div class="list">
        <% if @events.any? %>
          <%= render "events_table" %>
          <%= will_paginate @events %>
        <% else %>
          <%= content_for :bottom do %>
            <script type="text/javascript" charset="utf-8">
              $(function(){
                $(".lightbox-event-click").popover({
                  content: "Clique em <strong>Criar Evento</strong> para cadastrar seu primeiro evento",
                  html: true,
                  placement: "right",
                  title: "",
                  container: "body"
                });
                $(".lightbox-event-click").trigger("click");
              });
            </script>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>