<div class="lightbox-container">
  <div class="left info">
    <h2><%= @event.name %></h2>
    <div class="date"><%= I18n.l @event.day, format: :complete %></div>
    <div class="address"><%= @event.full_address %></div>    
    <div class="actions clearfix">
      <%= link_to icon_tag("glyphicon-print"), "#", rel: "popover", title: "", data: { content: "Imprimir" } %>
      <%= link_to icon_tag("glyphicon-home"), "#", rel: "popover", title: "", data: { content: "Visitar Site" } %>
      <%= link_to icon_tag("glyphicon-share-alt"), "#", rel: "popover", title: "", data: { content: "Compartilhar" } %>
    </div>
    <div class="description">
      <%= textile(@event.description) %>
    </div>
  </div>
  <div class="right map">
    <div id="<%= "#{@event.id}_map" %>" class="map"></div>
  </div>
</div>