<% if @event.changed? %>
  <% if @event.valid? %>
    window.location.reload();
  <% else %>
    alert("<%= j @event.errors.full_messages.join(', ') %>")
  <% end %>
<% else %>
  $.colorbox.close();
<% end %>