.container.admin {
  width: 970px;
  max-width: 970px;
  .page-header {
    border: 0;
    margin-bottom: 0;
    h1 {
      color: #59b390;
      float: left;
      display: block;
    }
    .btn-group.pull-left {
      margin:  35px 0 0 20px;
      &:first-child {
        margin: 35px 15px 0 0;
      }
    }
    .form-group.pull-left {
      margin: 35px 0 0 10px;
    }
  }
}

.lightbox-container.admin {
  .spacing {
    margin: 20px;
  }
  h2 {
    margin: 0 0 15px 0;
    padding-bottom: 4px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
  }
  #google_map {
    height: 70px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
}