/*
 *= require_self
 *= require bootstrap
 *= require bootstrap-datepicker
 *= require colorbox
 *= require home
 *= require users
 *= require events
 *= require search
 */

@import url(http://fonts.googleapis.com/css?family=Damion);


html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  margin: 0;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 120px;
}

.google-map-canvas,
.google-map-canvas * { box-sizing: content-box; }
img { max-width: none; }