.events {
  
  .page-header {
    margin-top: 0;
    h1 {
      font-family: "Damion", cursive;
      font-size: 50px;
    }
  }
  
  .list {
    .thumbnail{
      height: 160px;
      h4 {
        margin-top: 0;
        height: 35px;
        color: #59b390;
      }
      p.small {
        line-height: 12px;
        font-size: 12px;
        color: #999;
      }
    }
    .table {
      th {
        border-bottom: 1px dotted #ddd;
      }
      td {
        font-size: 13px;
        vertical-align: middle;
        border: 0;
        border-bottom: 1px dotted #eee;
        color: #666;
        .btn {
          padding: 0;
        }
      }
      tr:last-child {
        td {
          border: 0;
        }
      }
    }
  }
  
  .pagination {
    margin: 0 10px;
    font-size: 13px;
    span, em {
      color: #ccc;
    }
    .current {
      background: #e47c5d;
      color: #fff;
      font-size: 12px;
      display: inline-block;
      padding: 1px 5px 3px 5px;
      line-height: 1.5;
      border-radius: 3px;
    }
  }
  
  .my-calendar {
    margin-top: 20px;
    .fc-header {
      margin-bottom: 4px;
      h2 {
        margin: 0;
        font-size: 12px;
        color: #999;
        font-weight: normal;
      }
      .fc-header-right {
        text-align: right;
        font-size: 12px;
        .fc-button {
          margin-left: 3px;
          cursor: pointer;
          color: #999;
          &:hover {
            color: #666;
          }
        }
      }
    }
    .fc-border-separate {
      border-top: 1px solid #eee;
      th {
        border: 0;
        font-size: 9px;
        padding: 2px 0 2px 4px;
        border: 1px solid #eee;
      }
      td {
        padding: 4px;
        border: 1px solid #eee;
        color: #666;
        .fc-day-number {
          font-size: 11px;
        }
        &.has-event {
          background: #59b390;
          color: #fff;
          font-weight: bold;
        }
      }
      .fc-other-month {
        opacity: 0.2;
      }
    }
  } /* .my-calendar */
  
  .sidebar {
    .nav.nav-pills {
      li a {
        background: #eee;
        color: #666;
        &.active {
          background: #59b390;
          color: #fff;
        }
        &:hover {
          background: #e47c5d;
          color: #fff;
        }
      }
    }
  }
  
}

.event-form {
  
  textarea { 
    resize: none;
    padding-top: 60px;
  }
  
  .textarea-holder {
    position: relative;
    .editor-tools {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      padding: 10px;
      background: #f4f4f4;
      border: 1px solid #ccc;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  
  #google_map {
    width: 100%;
    height: 205px;
    background: #f4f4f4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  small {
    margin-right: 5px;
  }
  
}

@media (max-width: 768px) {
  .events {
    .list {
      > div { margin-bottom: 20px; }
    }
  }
}

.lightbox-container {
  .left.info {
    display: block;
    float: left;
    padding: 20px 30px;
    width: 300px;
    height: 400px;
    background: #59B390;
    h2 {
      font-size: 20px;
      margin: 0 0 5px;
      color: #fff;
    }
    .date {
      font-weight: bold;
    }
    .address {
      line-height: 14px;
    }
    .actions {
      margin: 15px 0;
      a {
        display: block;
        float: left;
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        font-size: 20px;
        background: #fff;
        color: #59b390;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
        margin-right: 5px;
        &:hover {
          color: #e47c5d;
        }
      }
    }
    .description {
      font-size: 12px;
      color: #fff;
    }
  }
  .right.map {
    position: relative;
    display: block;
    float: left;
    width: 300px;
    height: 400px;
    background: #eee;
    .map {
      position: absolute;
      left: 0;
      top: 0;
      width: 300px;
      height: 400px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  
  .slides {
    display: block;
    width: 600px;
    height: 400px;
    overflow: hidden;
    background: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    .submit-slides {
      position: absolute;
      bottom: -20px;
      right: -40px;
      width: 80px;
      height: 80px;
      text-align: center;
      background: #59b390;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      z-index: 10000;
      border: 0;
      color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      display: none;
      text-transform: uppercase;
      font-size: 35px;
      line-height: 80px;
      font-weight: bold;
      -webkit-transition: all 0.1s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      -moz-transition: all 0.1s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      -o-transition: all 0.1s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      transition: all 0.1s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      outline: none;
      &:hover {
        background: #152b3c;
      }
    }
    
    .click-arrow {
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      top: 180px;
      left: -20px;
      z-index: 9999;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      text-align: center;
      line-height: 40px;
      background: #e47c5d;
      color: #fff;
      font-size: 18px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      &.right {
        left: auto;
        right: -20px;
      }
      &:hover {
        background: #333;
      }
      &.disabled {
        box-shadow: none;
        background: #999;
        cursor: default;
        display: none;
      }
    }
    
    .slides-inner {
      -webkit-transition: all 0.3s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      -moz-transition: all 0.3s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      -o-transition: all 0.3s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      transition: all 0.3s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      .slide {
        position: relative;
        width: 600px;
        height: 400px;
        float: left;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        > h2 {
          display: block;
          text-align: center;
          margin-top: 20px;
          font-size: 40px;
          font-family: "Damion", cursive;
          color: #59b390;
          text-shadow: 0 1px 0 #fff;
          small {
            display: block;
          }
        }
        .spacing {
          margin: 20px 40px 40px;
        }
      }
      
      .where {
        #google_map {
          width: 520px;
          height: 200px;
          background: #f4f4f4;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
      
      .other {
        textarea {
          resize: none;
        }
        .textarea-holder {
          position: relative;
          .editor-tools {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            padding: 0;
            background: #f4f4f4;
            border: 1px solid #ccc;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            .btn {
              border: 0;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
              background: #ccc;
              &:first-child {
                margin-left: 5px;
              }
              &:hover {
                background: #bbb;
              }
            }
          }
        }
      }
      
    } /* .slides-inner */
  } /* .slides */
  
}