.wrap {
  > .container {
    margin-bottom: 30px;
  }
  .ordinary-link {
    color: #59b390;
  }
}

.form-control:focus {
  border-color: #59b390;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 179, 144, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 179, 144, 0.6);
}

.search-holder {
  background: url(/assets/map.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 40px;
  box-shadow: inset -1px 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset -1px 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px 0 4px rgba(0, 0, 0, 0.2);
}

.home {
  text-align: center;
  .page-header {
    border: 0;
    margin: 40px 0 30px;
    h1 {
      font-family: "Damion", cursive;
      color: #e32d40;
      font-size: 70px;
      line-height: 50px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    }
    p {
      color: #666;
    }
  }
  .search-field {
    margin-bottom: 10px;
    input.btn {
      width: 110px;
    }
  }
  p {
    a {
      color: #E32D40;
    }
  }
  #homesearch {
    display: none;
  }
}

.steps-holder {
  border-bottom: 2px solid #eee;
}

.steps {
  width: 590px;
  margin: 0 auto 40px;
  .step {
    text-align: center;
    margin-right: 40px;
    float: left;
    > div {
      display: table;
      width: 170px;
      span {
        width: 100px;
        height: 100px;
        font-size: 60px;
        line-height: 90px;
        background: #f4f4f4;
        color: #59b390;
        text-align: center;
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
        margin-bottom: 6px;
      }
      strong {
        display: block;
        font-size: 16px;
        color: #666;
        font-weight: normal;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}

.publish {
  margin: 40px 0 40px;
  text-align: center;
  h2 {
    font-family: "Damion", cursive;
    color: #152b3c;
    font-size: 40px;
    display: block;
  }
}

.pac-container {
  z-index: 10000 !important;
}

.hdpi.pac-container:after {
  display: none;
}

.footer {
  height: 120px;
  background: #f4f4f4;
  font-size: 12px;
  h3 {
    font-family: "Damion", cursive;
    margin-top: 30px;
    a {
      color: #666;
    }
  }
  .links {
    float: left;
    a {
      color: #999;
      margin-right: 20px;
      &.line-through {
        text-decoration: line-through;
      }
    }
  }
  /*
  .social {
    float: right;
    margin-top: 40px;
    opacity: 0.5;
    .addthis_button_facebook_like,
    .addthis_button_tweet,
    .addthis_button_google_plusone {
      width: 85px;
    }
    &:hover {
      opacity: 1;
    }
  }
  */
}

@media (min-width: 980px) {
  .home {
    .search-field {
      width: 760px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .steps {
    width: 170px;
    margin: 0 auto;
    .step {
      margin: 0 0 20px 0;
      clear: both;
    }
  }
}