.google-map-canvas-fullscreen {
  z-index: 1;
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  z-index: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  &.expanded {
    height: 400px;
  }
  
  .event-infobox {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    &:before {
      position: absolute;
      bottom: -11px;
      left: 89px;
      display: inline-block;
      border-right: 11px solid transparent;
      border-top: 11px solid rgba(0, 0, 0, 0.2);
      border-left: 11px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }
    &:after {
      position: absolute;
      bottom: -10px;
      left: 90px;
      display: inline-block;
      border-right: 10px solid transparent;
      border-top: 10px solid rgba(255, 255, 255, .95);
      border-left: 10px solid transparent;
      content: '';
    }
    .date {
      float: left;
      margin: 10px 0 0 10px;
      width: 60px;
      height: 50px;
      border: 1px solid #ddd;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      strong {
        display: block;
        text-align: center;
        background: #59b390;
        color: #fff;
      }
      span {
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;
        background: #fff;
      }
    }
    .name {
      margin-left: 65px;
      padding: 10px;
      font-size: 14px;
      line-height: 16px;
      span {
        display: block;
      }
    }
  }
}

.expand-map {
  z-index: 2;
  position: relative;
  background: #59b390;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 10px;
  width: 40px;
  margin: 0 auto;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  &:hover {
    background: #666;
  }
}

.search-header {
  position: relative;
  z-index: 10;
  border: 0;
  margin: 0;
  padding: 10px;
  
  box-shadow: inset -1px 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset -1px 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px 0 4px rgba(0, 0, 0, 0.2);
  
  
  h1 {
    font-family: "Damion", cursive;
    font-size: 40px;
    line-height: 40px;
    margin: 4px 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    a {
      color: #e32d40;
      text-decoration: none;
    }
  }
  
  p.lead {
    text-align: center;
  }
  
  .search-field {
    width: 600px;
    margin: 0 auto;
  }
  
  .btn.pull-right {
    margin: 15px 0 0;
    color: #666;
    font-weight: bold;
    padding-right: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}

.search {
  margin-top: 20px;
  
  .sidebar {
    h3 {
      margin: 0 0 10px 0;
      font-size: 20px;
      color: #e32d40;
    }
  }
  
  .main-events {
    h2 {
      margin: 0;
      font-size: 20px;
      color: #59b390;
      strong {
        color: #999;
        font-weight: normal;
      }
    }
    
    .btn-group.pull-right {
      margin-top: 4px;
    }
    
    .table-events-support {
      position: relative;
      overflow-x: hidden;
      border: 1px solid #ddd;
      margin: 10px 0 0;
      padding: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      
      .click-arrow {
        position: absolute;
        left: 8px;
        top: 8px;
        font-size: 18px;
        color: #666;
        &.right {
          left: auto;
          right: 8px;
        }
        &:hover {
          color: #333;
        }
      }
      
    }
    
    .table-events {
      margin: 0;
      padding: 0;
      -webkit-transition: all 0.5s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      -moz-transition: all 0.5s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      -o-transition: all 0.5s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      transition: all 0.5s cubic-bezier(0.54, 0.24, 0.35, 0.68);
      
      th {
        text-align: center;
        border: 0;
      }
      
      td {
        border-right: 1px solid #ddd;
        ul {
          padding: 0;
          margin: 0;
          li {
            display: block;
            padding: 4px 5px;
            border-bottom: 1px solid #eee;
            &:last-child {
              border: 0;
            }
            a {
              display: block;
              font-size: 13px;
              color: #666;
              small {
                display: block;
                color: #999;
              }
            }
          }
        }
      }
    }
    
  }
  
}

@media (min-width: 768px) and (max-width:979px) {
  .table-events th {
    font-size: 12px !important;
  }
  .table-events td ul {
    width: 75px;
    li {
      a {
        font-size: 11px !important;
      }
    }
  }
}
@media (min-width: 980px) and (max-width:1199px) {
  .table-events td ul { width: 115px; }
}
@media (min-width: 1200px) {
  .table-events td ul { width: 145px; }
}

/*
@media screen and (max-width: 768px){
  .table-events td ul { width: 100px; }
  .table-events.pos1 { margin-left: 0; }
  .table-events.pos2 { margin-left: -100px; }
  .table-events.pos3 { margin-left: -200px; }
  .table-events.pos4 { margin-left: -300px; }
  .table-events.pos5 { margin-left: -400px; }
}

@media (min-width: 768px) and (max-width:979px) {
  .table-events td ul { width: 140px; }
  .table-events.pos1 { margin-left: 0 !important; }
  .table-events.pos2 { margin-left: -158px !important; }
  .table-events.pos3 { margin-left: -316px !important; }
  .table-events.pos4 { margin-left: -474px !important; }
  .table-events.pos5 { margin-left: -632px !important; }
}

@media (min-width: 980px) and (max-width:1199px) {
  .table-events td ul { width: 189px; } 
  .table-events.pos1 { margin-left: 0 !important; }
  .table-events.pos2 { margin-left: -206px !important; }
  .table-events.pos3 { margin-left: -412px !important; }
  .table-events.pos4 { margin-left: -618px !important; }
  .table-events.pos5 { margin-left: -824px !important; }
}

@media (min-width: 1200px) {
  .table-events td ul { width: 233px; } 
  .table-events.pos1 { margin-left: 0 !important; }
  .table-events.pos2 { margin-left: -250px !important; }
  .table-events.pos3 { margin-left: -500px !important; }
  .table-events.pos4 { margin-left: -750px !important; }
  .table-events.pos5 { margin-left: -1000px !important; }
}
*/