<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Encontre a Boa - CMS" %></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag "application", "admin", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <div class="container admin">
        <%= yield %>
        <hr />
        <div class="row">
          <div class="col-sm-12">
            <small class="text-muted">Você está logado como administrador no sistema de gestão de conteúdo do <%= link_to "Encontre a Boa", root_path %>.</small>
          </div>
        </div>
      </div>
    </div>
    <script src="//maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
    <%= javascript_include_tag "application", "admin" %>
    <%= yield :bottom %>
  </body>
</html>
