<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Encontre a Boa" %></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <%= yield :unwrap_content %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <div class="footer clearfix">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3><%= link_to "Encontre a Boa <small>beta</small>".html_safe, root_path %></h3>
            <!--
            <div class="social hidden-xs hidden-sm">
              <div class="addthis_toolbox addthis_default_style" addthis:url="http://www.danielalves.me">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              <a class="addthis_button_google_plusone" g:plusone:size="medium"></a> 
              </div>
              <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-514b27e179c6413b"></script>
            </div>
            -->
            <div class="clearfix"></div>
            <div class="links">
              <%= link_to "Sobre o projeto", "#", class: "line-through" %>
              <%= link_to "Divulgue seu evento", sign_up_path %>
              <%= link_to "Entre em contato", "#", class: "line-through" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= form_tag search_path, method: :get, class: "form-inline", id: "homesearch" do %>  
      <%= hidden_field_tag :address, nil %>
      <%= hidden_field_tag :latitude, nil %>
      <%= hidden_field_tag :longitude, nil %>
    <% end %>
    <script src="//maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
    <%= javascript_include_tag "application" %>
    <%= yield :bottom %>
  </body>
</html>
